/*@import "../node_modules/bootstrap/scss/bootstrap";*/
html {
  background-color: #b4a6a6;
}

body {
  background-image: linear-gradient(0deg, #F9AC53, #94167F, #300350);
  min-height: 100vh;
  padding-top: 70px;
}

.container-fluid {
  padding-top: 0%;
}

.container-fluid.navSpace {
  padding-top: 0%;
  height: 10%;
}

/*#top {
    background-color:  $primary-1;
    color: $primary-5;
    font-style: oblique;
    font-family:monospace;
}
*/
#bar {
  box-shadow: 8px 8px #F62E97;
  background-color: #65B8BF;
}

#pageSign {
  color: #153CB4;
  background-color: #dcd5d5;
  border-radius: 50% 50%;
  border-style: groove;
  border-color: #b4a6a6;
  border-width: 5px;
  font-style: oblique;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.navButton {
  border-radius: 0px 45px;
  background-color: #dcd5d5;
  color: #153CB4;
  font-family: monospace;
  border-style: groove;
  border-color: #b4a6a6;
  border-width: 5px;
  padding-right: 3px;
}

.nav-link.active {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}

.nav-item {
  list-style-type: none;
}

img {
  height: 25%;
  width: 25%;
}

.btn.btn-sm {
  border-radius: 0px 45px;
  background-color: #dcd5d5;
  color: #153CB4;
  font-family: monospace;
  border-style: inset;
  border-color: #b4a6a6;
  border-width: 5px;
  margin-top: 1%;
}

#dropLogin {
  border-radius: 0px 45px;
  background-color: #dcd5d5;
  color: #153CB4;
  font-family: monospace;
  border-style: inset;
  border-color: #b4a6a6;
  border-width: 5px;
  margin-top: 1%;
  padding-top: 10px;
  padding-bottom: 12px;
}

.row.credits {
  background-color: #b4a6a6;
}

.col.media {
  background-color: #153CB4;
}

.row.review {
  background-color: #66a1d2;
  box-shadow: 8px 8px #E93479;
}

video {
  max-width: 100%;
  height: auto;
}

.col.poster-id {
  background-color: #F9AC53;
}

.welcome {
  font-family: "Times New Roman", Times, serif;
  background-color: #b4a6a6;
  border-style: groove;
  border-width: 3px;
  border-color: #F9AC53;
  border-radius: 80px;
}

.dropdown-menu {
  background-color: #b4a6a6;
  font-family: "Times New Roman", Times, serif;
  border-style: inset;
  border-color: #153CB4;
  border-bottom-right-radius: 50px;
}

.carousel-item {
  height: 300px;
  overflow: hidden;
  width: 100%;
}

/*.carousel-item img {
width: auto;
height: auto;
}*/
.cta {
  background-color: #65B8BF;
  box-shadow: -8px 8px #dcd5d5;
}

#ctaButton {
  background-color: #F9AC53;
  border-style: groove;
  border-color: #F9AC53;
  border-width: 10px;
}

aside {
  background-color: #153CB4;
}

.badge.rounded-pill {
  background-color: #F62E97;
}

.col.a {
  background-color: #b252a1;
  border-style: solid;
}

.col.b {
  background-color: #dcd5d5;
  border-style: double;
  border-color: #300350;
}

.c_button {
  border-radius: 0px 45px;
  background-color: #dcd5d5;
  color: #153CB4;
  font-family: monospace;
  border-style: inset;
  border-color: #b4a6a6;
  border-width: 5px;
  margin-top: 1%;
}

/*# sourceMappingURL=newStyle2.css.map */
